<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="AdminServiceTcpEndpointAdmin">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="UserServiceTcpEndpointUser">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9007/AdminService" binding="netTcpBinding"
                bindingConfiguration="AdminServiceTcpEndpointAdmin" contract="MainService.IAdminService"
                name="AdminServiceTcpEndpointAdmin">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-4KEPV7Q" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9007/UserService" binding="netTcpBinding"
                bindingConfiguration="UserServiceTcpEndpointUser" contract="MainService.IUserService"
                name="UserServiceTcpEndpointUser">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-4KEPV7Q" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>