<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.diagnostics> 
    <trace autoflush="true" /> 
    <sources> 
      <source name="System.ServiceModel" 
              switchValue="Verbose"> 
        <listeners> 
          <add name="sdt" 
              type="System.Diagnostics.XmlWriterTraceListener" 
              initializeData="D:\labs\kursach\GAIHelper\log\client_log.svcLog"  /> 
        </listeners> 
      </source> 
    </sources> 
  </system.diagnostics> 
    <system.serviceModel>
<diagnostics performanceCounters="All">
      <messageLogging
         logMessagesAtTransportLevel="true"
         logMessagesAtServiceLevel="false"
         logMalformedMessages="true"
         logEntireMessage="true"
         maxSizeOfMessageToLog="2147483647" maxMessagesToLog="25000" />
    </diagnostics>
        <bindings>
            <netTcpBinding>
                <binding name="AdminServiceTcpEndpointAdmin">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="UserServiceTcpEndpointUser">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9007/AdminService" binding="netTcpBinding"
                bindingConfiguration="AdminServiceTcpEndpointAdmin" contract="MainService.IAdminService"
                name="AdminServiceTcpEndpointAdmin">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-4KEPV7Q" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9007/UserService" binding="netTcpBinding"
                bindingConfiguration="UserServiceTcpEndpointUser" contract="MainService.IUserService"
                name="UserServiceTcpEndpointUser">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-4KEPV7Q" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>