<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net48" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net48" />
</packages>