<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GAIDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-4kepv7q;initial catalog=GAIDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <services>
      <service behaviorConfiguration="Beh" name="GaiWcfService.Service.MainService">
        <endpoint address="AdminService" binding="netTcpBinding" 
          name="AdminServiceTcpEndpointAdmin" contract="GaiWcfService.Service.IAdminService" />
        <endpoint address="UserService" binding="netTcpBinding" 
          name="UserServiceTcpEndpointUser" contract="GaiWcfService.Service.IUserService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="AdminServiceMexEndpointAdmin" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9007" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Beh">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  -->
</configuration>