<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
<system.diagnostics> 
    <trace autoflush="true" /> 
    <sources> 
      <source name="System.ServiceModel" 
              switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing"> 
        <listeners> 
          <add name="sdt" 
              type="System.Diagnostics.XmlWriterTraceListener" 
              initializeData="D:\labs\kursach\GAIHelper\log\server_log.svcLog"  /> 
        </listeners> 
      </source> 
    </sources> 
  </system.diagnostics> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GAIDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-4kepv7q;initial catalog=GAIDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
<connectionStrings>
    <add name="GAIDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\labs\kursach\GAIHelper\GaiWcfService\GAIDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->
  <system.serviceModel>
<diagnostics performanceCounters="All">
      <messageLogging
         logMessagesAtTransportLevel="true"
         logMessagesAtServiceLevel="false"
         logMalformedMessages="true"
         logEntireMessage="true"
         maxSizeOfMessageToLog="2147483647" maxMessagesToLog="25000" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="Beh" name="GaiWcfService.Service.MainService">
        <endpoint address="AdminService" binding="netTcpBinding" name="AdminServiceTcpEndpointAdmin" contract="GaiWcfService.Service.IAdminService" bindingConfiguration="tcpBinding"/>
        <endpoint address="UserService" binding="netTcpBinding" name="UserServiceTcpEndpointUser" contract="GaiWcfService.Service.IUserService" bindingConfiguration="tcpBinding"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="AdminServiceMexEndpointAdmin" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9007"/>
          </baseAddresses>
        </host>
      </service>
    </services>
      <bindings>
          <netTcpBinding>
              <binding name="tcpBinding"
                       maxReceivedMessageSize="20480000"/>
          </netTcpBinding>
      </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Beh">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
